html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.main-header {
   background-color: #363543 !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 15px 0px;
}
.navbar-brand:hover {
    color: #D6AA46;
}
button.navbar-toggler {
    background-color: #fff !important;
    padding: 3px 5px;
}
a.navbar-brand {
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 0;
}
.fa-laugh:before {
    content: "\f599";
    color: #D6AA46;
    margin-right: 5px;
}
a.nav-link {
    padding: 10px 20px !important;
}
.bg-body-tertiary {
    padding: 30px 0px;
    /* background-color: #363543 !important; */
}
a.nav-link.active {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
a.nav-link {
    color: #a6a5b3 !important;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}
li.nav-item {
    font-size: 14px;
    margin: 0;
}
.social-icons a {
    color: #fff;
    font-size: 18px;
}
i.fab.fa-linkedin-in {
    margin: 0px 25px;
}
.logos {
    background-color: #3F3E4E;
    padding: 20px;
    margin-top: -80px;
    margin-bottom: -58px;
    z-index: 9999999 !important;
    position: relative;
}
.row {
    margin: 0;
}
.logo img {
    /* width: 200px; */
    background-color: #363543;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}
section.portfolio {
    background-color: #282834;
    display: flex;
    align-items: center;
    padding: 150px 0px;
    
}
.portfolio-content h1 {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 55px;

}
.portfolio-content p {
    color: #a6a5b3;
    max-width: 300px;
    font-family: 'Work Sans', sans-serif;
}
.counter h2 {
    color: #D8AE3D;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.counter p {
    color: #a6a5b3;
    max-width: 300px;
    font-family: 'Work Sans', sans-serif;
}
.project {
    border-bottom: 1px solid#a6a5b3;
    display: flex;
    padding: 20px 0px;
    position: relative;
    margin: 12px 0px;
}
.images img {
    width: 120px;
}
.title {
    font-size: 28px;
    color: #fff;
    font-weight: 500; 
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
}
.title p {
    color: #a6a5b3;
    max-width: 300px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
i.fa-arrow-right {
    color: #d8ae3d;
    content: "\f061";
    font-size: 25px;
    position: absolute;
    right: 0px;
    bottom: 50px;
}
section.hero {
    /* background-image: url(images/1.png); */
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 100px 0px;
    position: relative;
    background-color: #363543;
    z-index: 1;
}
.hero-title h2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 700;
}
.hero-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #a6a5b3;
    text-transform: capitalize;
}
section.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-image: url(images/profile.png);
    background-repeat: no-repeat;
    transform: translateX(-50%);
    width: 530px;
    background-color: #282834;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    border-radius: 50%;
    z-index: -1;
    height: 650px
}
.hero-title h2::after {
    content: '';
    width: 200px;
    height: 7px;
    background-color: #d8ae3d;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 90px;
}

.hero-title p {
    max-width: 300px;
    color: #a6a5b3;
    max-width: 300px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
.hero-service i.fas.fa-arrow-right.hero {
    position: unset;
    font-size: 18px;
    margin-left: 15px;
}
.hero-service h4 {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #a6a5b3;
    text-transform: capitalize;
}
h5.show {
    color: #d8ae3d;
    margin-bottom: 20px;
}
.hero-service p {
    font-size: 23px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.card-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #DDDDE9;
    margin: 20px 0px;
}
.social-icons i.fab.fa-facebook-f,i.fab.fa-twitter,i.fab.fa-instagram,i.fab.fa-pinterest-p {
    color: #d8ae3d;
    font-size: 18px;
    background-color: #464961;
    padding: 10px 14px;
    margin-right: 10px;
    border-radius: 50%;
}
section.cards {
    background-color: #363543;
}
.card-parent {
    background-color: #3F3E50;
    padding: 30px;
    color: #fff;
    margin-top: -100px;
}
.card-title p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #a6a5b3;
}
section.testimonials {
    background-color: #1F1F27;
    padding: 60px 0px;
}
.testimonials-image img {
    width: 100%;
}
.testmonial-content i.fas.fa-quote-left {
    color: #D8AE3D;
    font-size: 40px;
    font-weight: 700;
}
.testmonial-content p {
    font-size: 22px;
    color: #a6a5b3;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.8rem;
    margin-right: 80px;
}
.testmonial-content {
    padding: 10px 40px;
    position: relative;
}
.testmonial-content h1 {
    font-size: 28px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.testmonial-content h3{
    color: #a6a5b3;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
.testmonial-content h1.number {
    margin-top: 30px;
}
.testmonial-content h1.number {
    color: #D8AE3D;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.testmonial-content h1.number sub {
    color: #a6a5b3;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.testimonials-image {}

.testimonials-image img {
    transform: scaleX(-1);
}
.slide-button {
    color: #FFBA1D;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.slide-button i.fas.fa-chevron-left,i.fas.fa-chevron-right {
    padding: 10px 14px;
    border: 1px solid #FFBA1D;
    border-radius: 50%;
}
.slide-button i.fas.fa-chevron-left {
    margin-right: 7px;
}
.slide-button i.fas.fa-chevron-left:hover {
    background-color: #FFBA1D;
    color: #000;
    border-color: #FFBA1D;
}
.slide-button i.fas.fa-chevron-right:hover {
    background-color: #FFBA1D;
    color: #000;
    border-color: #FFBA1D;
}
section.product {
    background-color: #1F1F27;
    padding: 0px;
}
.product-image img {
    width: 90%;
    filter: FlipH;
    -ms-filter: "FlipH";
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    float: none;
}
.product-border {
    border-top: 1px solid #a6a5b3;
    padding: 60px 0px 0;
}
.product-content h1 {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 3.8rem;
}
.product-content p {
    color: #a6a5b3;
    max-width: 430px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 20px;
}

.product-content button i.fab.fa-youtube {
    margin-right: 7px;
}
.product-content button {
    background-color: transparent;
    border: 1px solid #F2B018;
    border-radius: 30px;
    padding: 12px 25px;
    color: #F2B018;
}
button.contact {
    background-color: #F2B018;
    border: 1px solid #F2B018;
    border-radius: 30px;
    padding: 12px 25px;
    color: #000;
    margin-left: 10px;
}
.row.product-border {
    align-items: center;
}
section.footer {
    background-color: #363543;
    color: #fff;
    padding-top: 50px;
}
section.main {
    max-width: 1250px;
    margin: 0 auto;
    border-bottom: 1px solid#a6a5b3;
    padding-bottom: 30px;
}
.product-image {position: relative;}

.product-image::before {
    width: 300px;
    content: "";
    position: absolute;
    height: 300px;
    background-color: #373745;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
}

li.nav-item a {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0px !important;
}
ul li a{
    margin-bottom: 10px;
    font-size: 16px;
    color: #a6a5b3;
    text-decoration: none;
}
ul li {
    /* margin-bottom: 10px; */
}
h1.footer-title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;

}
p.myname {
    text-align: right;
    color: #a6a5b3;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}
.myname span {
    color: #F2B018;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}
.footer-bottom {
    padding-top: 15px;
}
.footer-logo {
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}
.partners-sec {
    background-color: #363543;
}
@media all and (max-width: 991px){
    header.main-header{
        padding: 0 20px;
    }
    .hero-title h2{
        font-size: 50px;
    }
    .social-icons.header-socials a.bars-header {
        display: none;
    }
    .social-icons.header-socials {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #d6aa46;
}
    .social-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* background-color: #d6aa46; */
}

div#navbarSupportedContent {
    background-color: #282834;
    margin: 10px 0;
}
    ul.navbar-nav.top-menu {
    /* margin: 20px 0px; */
}
    .top-menu li {
        margin: 0;
        border-bottom: 1px dashed #fff;
    }
    .top-menu li a {
        display: block;
        color: #2b2e8b;
        padding: 10px 15px;
    }
    .top-menu li.active>a {
        background: #d6aa46;
        color: #fff !important;
    }
    }
@media only screen and (max-width :767px){
    header.main-header{
        padding: 0 20px;
    }
    .social-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #d6aa46;
}

div#navbarSupportedContent {
    background-color: #282834;
    margin: 10px 0;
}
    ul.navbar-nav.top-menu {
    /* margin: 20px 0px; */
}
    .top-menu li {
        margin: 0;
        border-bottom: 1px dashed #fff;
    }
    .top-menu li a {
        display: block;
        color: #2b2e8b;
        padding: 10px 15px;
    }
    .top-menu li.active>a {
        background: #d6aa46;
        color: #fff !important;
    }
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        margin-left: 0px;
    }
    div#navbarTogglerDemo01 {
        margin-top: 10px;
    }
    section.hero {
        padding: 0px 0px;
        padding-bottom: 70px !important;
    }
    .hero-title h1 {
        font-size: 30px;
    }
    .hero-title h2 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
    }
    .hero-title h2::after {
        width: 150px;
        height: 4px;
        left: 0;
        top: 45px;
    }
    .logo img {
        width: 100%;
    }
    .portfolio-content h1 {
        font-size: 24px;
    }
    .title {
        font-size: 20px;
        margin-left: 15px;
    }
    .counter h2 {
        font-size: 25px;
    }
    .counter p {
        font-size: 13px;
    }
    .project i.fa-arrow-right {
        font-size: 15px;
    }
    .hero-service p {
        font-size: 16px;
    }
    .hero-title p {
        font-size: 16px;
    }
    section.portfolio {
      padding-top: 80px;
      margin-top: -70px;
    }
    .images img {
        width: 100px;
    }
    .logos {
        padding: 12px;
        margin-top: -60px;
        margin-bottom: 0px;
    }
    h5.show {
        font-size: 16px;
    }
    .card-parent {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    section.portfolio {
        padding: 0px 0px;
        padding-bottom: 30px;
        padding-top: 90px;
    }
    .testmonial-content {
        padding: 20px 0px;
    }
    .testmonial-content p {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.8rem;
        margin-right: 0px;
    }

}


